#include "./Framework-iOS.xcconfig"
#include "./SwiftCheckKindness.xcconfig"

// Architectures

// Assets

// Build Locations

// Build Options

// Deployment

// Headers

// Kernel Module

// Linking

// Localization

// Packaging

// Search Paths

// Signing

// Testing

// Text-Based APIs

// Versioning

// Apple LLVM 9.0 - Address Sanitizer

// Apple LLVM 9.0 - Code Generation

// Apple LLVM 9.0 - Custom Compiler Flags

// Apple LLVM 9.0 - Language

// Apple LLVM 9.0 - Language - C++

// Apple LLVM 9.0 - Language - Modules

// Apple LLVM 9.0 - Language - Objective C

// Apple LLVM 9.0 - Preprocessing

// Apple LLVM 9.0 - Undefined Behavior Sanitizer

// Apple LLVM 9.0 - Warning Policies

// Apple LLVM 9.0 - Warnings - All languages

// Apple LLVM 9.0 - Warnings - C++

// Apple LLVM 9.0 - Warnings - Objective C

// Apple LLVM 9.0 - Warnings - Objective C and ARC

// OSACompile - Build Options

// Static Analyzer - Analysis Policy

// Static Analyzer - Generic Issues

// Static Analyzer - Issues - Apple APIs

// Static Analyzer - Issues - Objective C

// Static Analyzer - Issues - Security

// Swift Compiler - Code Generation

// Swift Compiler - Custom Flags

// Swift Compiler - General

// Swift Compiler - Language

// Swift Compiler - Search Paths

// Swift Compiler - Warnings Policies

// User-Defined
